<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="icon" href="/img/weather.png">

</head>
<body>
	<link rel="stylesheet" href="/css/style.css" >
	<div class='main-content'>
		{{>header}}
		<p>This site was created by CJay ;) . It used data from mapbox.com and another site I can't remember at the moment.</p>
		<img class='portrait' src="/img/me.png">
	</div>

	{{>footer}}
</body>
</html>