<!DOCTYPE html>
<html>
<head>
	<title>Help Page</title>
	<link rel="icon" href="/img/weather.png">

</head>
<body>
	<link rel="stylesheet" href="/css/style.css" >
	<div class='main-content'>
		{{>header}}
		<p>This is amazing all from 'hbs' isn't that crazyyyy</p>
	</div>

	{{>footer}}
</body>
</html>